@import "libs/slick";
@import "base/fonts";
@import "base/mixins";
@import "base/variables";
@import "base/animations";
@import "blocks/promo";
@import "blocks/container";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/title";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/slide";
@import "blocks/catalog";
@import "blocks/reviews";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/upArrow";

* {
  box-sizing: border-box;
  font-family: 'Museo', sans-serif;
  margin: 0;
  padding: 0;
}
